@import '../../styles/variables.scss';

.footer__content{
    color: $text;
    display: flex;
    flex-direction: column; /* Располагаем элементы вертикально */
    justify-content: space-between; /* Распределяем пространство между элементами */
    align-items: center; /* Центрируем элементы по горизонтали */
    height: 100%; /* Убедитесь, что высота достаточна для размещения всех элементов */
    padding-top: 30px;
}

.footer__content a {
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
    font-size: 12px;
    font-weight: 400;
}

.footer__content ul li a:hover {
    color: #f0c040;
}

.footer__content .logo {
    filter: grayscale(100%) brightness(0);
}

.footer__content .line {
    border: 1px solid $text;
}

.footer__content .beans__logo {
    display: flex; /* Используем flex для выравнивания линий и логотипа */
    align-items: center; /* Центрируем элементы по вертикали */
    padding-top: 30px;
}

